<Router AppAssembly="@typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(About).Assembly }">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
         <p>404 - page not found</p>
    </NotFound>
</Router>
